<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class= "boxed">
    <h2 class= "heading"><%= title %></h2>
    <h3 class= "heading"><%= upload %></h3>
    <h3 class= "heading"><%= copyPaste %></h3>
    <label class = "heading">Text box:</label><br>
    <form id="form1">
        <input type="text" id="textBox" name="textBox">
        <button type = "submit" >Send Data</button>
    </form>
</div>
<script>
    fm1= document.getElementById("form1");
    fm1.addEventListener("submit", function(event){
        let data = fm1.value;
        event.preventDefault();
        let formData = new FormData(fm1);
        //formData.append('textValue', data);
        for (let element of formData){
            console.log(element);
        }
        const passingData = {
            method: "POST",
            headers: { "Content-Type": "application/json"},
            body: JSON.stringify(formData),
        };
        fetch("/storeData/", passingData).then(data => console.log(data));
    }
   )
   </script>
   </body>
   <style>
    input {
    background-color : white;
    border-color: black;
    height : 500px;
    width: 200px;
    } .boxed{ border: 1px solid black ;     } .heading{ text-align: center;     } </style>
   </html>